version: 2
updates:
  - package-ecosystem: npm
    directory: "/"
    schedule:
      interval: weekly
      day: monday
      timezone: America/New_York
    open-pull-requests-limit: 10
    labels:
      - dependencies
    groups:
      production-minor-patch:
        dependency-type: production
        update-types:
          - minor
          - patch
      development-minor-patch:
        dependency-type: development
        update-types:
          - minor
          - patch
      expo-ecosystem:
        patterns:
          - expo
          - expo-*

  - package-ecosystem: npm
    directory: "/web"
    schedule:
      interval: weekly
      day: monday
      timezone: America/New_York
    open-pull-requests-limit: 10
    labels:
      - dependencies
    groups:
      production-minor-patch:
        dependency-type: production
        update-types:
          - minor
          - patch
      development-minor-patch:
        dependency-type: development
        update-types:
          - minor
          - patch
      expo-ecosystem:
        patterns:
          - expo
          - expo-*
